requests
numpy
pandas
feedparser
dotenv
beautifulsoup4
vaderSentiment
chromadb
langchain-text-splitters
langchain-ollama 
langchain-core
transformers
torch
accelerate
outlines
bitsandbytes>=0.46.1
pyngrok
streamlit 
plotly 
